extends ../../layout

block head
    title Masticables
    link(rel="stylesheet", href="/css/backgroundImage.css")

block content
    div#container

        div(ng-app="masticables")
            div(ng-controller="mainController")

                include ../../navbar

                main.margen-superior-50
                    div.container
                        div.row
                            include ../../botonesMovil

                            div.col-md-12.col-xs-12
                                div.panel.panel-body
                                    div.main-card-content
                                        div.main-card-description
                                            div.main-card-name
                                                a(href="/gamaPropia")
                                                    span.caramelo Gama propia
                                                b.abel.mayorQue >
                                                a(href="../toffeesYMasticables")
                                                    span.caramelo Toffees y Masticables
                                                b.abel.mayorQue >
                                                a(href="#")
                                                    span.caramelo Masticables
                            div.col-md-6.col-sm-12.col-xs-12
                                div.panel.panel-body.main-card#masticables
                                    //div.main-card-picture
                                        a(href="#")
                                            img(src="/img/toffessYMasticables.png", style="width: 100%; height: 100%;")
                                    div.main-card-content(style="word-wrap: break-word;")
                                        div.main-card-name
                                            a.recipe-title(href="#")
                                                span.caramelo Masticables
                                        div.main-card-description
                                            p.
                                                Aqu&iacute; encontrar&aacute;s todos los masticables de los que disponemos actualmente.
                                    //div.recipe-time
                                        span
                                            i.fa.fa-bars
                                        span  M&aacute;s info
                            div.col-md-6.col-sm-12.col-xs-12
                                div.panel.panel-body(style="min-height: 124px")
                                    div.main-card-content
                                        div.main-card-name.col-md-12
                                            div.col-md-4.reset-padding-left
                                                a.recipe-title(href="#")
                                                    span.caramelo Buscar
                                            div.col-md-6.col-xs-6(style="margin-top:7px")
                                                input(type="text", placeholder="Introduzca un texto", ng-model="masticableSearch").form-control
                            div(style="clear:both")
                                div
                                    div(ng-repeat="masticable in masticables | filter:masticableSearch", style="text-align:center")
                                        div(ng-show="esSurtido(masticable)")
                                            div.col-md-12.col-sm-12
                                                div.panel.panel-body.panel-masticable
                                                    div(style="text-align:left;")
                                                        h1(style="margin-bottom:30px").modelo-masticable
                                                            a(ng-href="masticables/{{masticable._id}}", ng-bind-template="{{$index + 1}}. {{masticable.model}}").green.hover-red
                                                    div.col-md-2
                                                        div(style="float:left; margin-right: 20px; width:100%; height: 260px").hidden-sm.hidden-xs
                                                            img(ng-src="/img/imagenesMias/{{masticable.image}}", height="100%", width="100%", style="margin-left: 10px; margin-bottom: 10px")
                                                        div(style="float:left; margin-right: 20px; width:100%; height: 260px").hidden-md.hidden-lg
                                                            img(ng-src="/img/imagenesMias/{{masticable.image}}", height="100%", width="30%", style="margin-left: 10px; margin-bottom: 10px")
                                                    div.col-md-10
                                                        div.masticable-description
                                                            h3(style="text-align: justify; margin-top: 0px", ng-bind-template="{{masticable.description}}").blue
                                        div(ng-show="!esSurtido(masticable)")
                                            div.col-md-3.col-sm-6
                                                div.panel.panel-body.panel-masticable
                                                    div(style="text-align:left")
                                                        h1(style="margin-bottom:30px").modelo-masticable
                                                            a(ng-href="masticables/{{masticable._id}}", ng-bind-template="{{$index + 1}}. {{masticable.model}}").green.hover-red
                                                    div(style="margin-right: 20px; height: 100px; max-height: 200px;").margenInferior-30
                                                        img(ng-src="/img/imagenesMias/{{masticable.image}}", height="100%", width="100%", style="margin-left: 10px; margin-bottom: 10px")
                                                    div.masticable-description
                                                        h3(style="text-align: justify; margin-top: 5px", ng-bind-template="{{masticable.description}}").blue



block scripts
    script(src='/js/angular.js')
    script(src='/js/angular/toffeesYMasticables/masticables.js')
    script(src='/js/jquery.js')
    script(src='/js/bootstrap.js')