extends ../../layout

block head
    title Crystal
    link(rel="stylesheet", href="/css/backgroundImage.css")

block content
    div#container(ng-app="lagloria")
        div(ng-controller="LoguedUserController")

            include ../../partials/navbar

            div(ng-controller="CrystalController")
                main.margen-superior-50
                    div.container
                        div.row
                            include ../../partials/botonesMovil

                            div.col-md-12.col-xs-12
                                div.panel.panel-body
                                    div.main-card-content
                                        div.main-card-description
                                            div.main-card-name
                                                a(href="/gamaPropia")
                                                    span.caramelo.lagloria Gama propia
                                                b.abel.mayorQue >
                                                a(href="../duros")
                                                    span.caramelo.lagloria Duros
                                                b.abel.mayorQue >
                                                a(href="#")
                                                    span.caramelo.lagloria Crystal

                            //Este col es con la tarjeta unificada para el modelo y la caja de busqueda

                            //TARJETAS SEPARADAS

                            //div.col-md-12
                                div.panel.panel-body
                                    div.col-md-6.col-sm-12(style="padding-left:0px")
                                        div.main-card#crystals
                                            //div.main-card-picture
                                                a(href="#")
                                                    img(src="/img/toffessYMasticables.png", style="width: 100%; height: 100%;")
                                            div.main-card-content(style="word-wrap: break-word;")
                                                div.main-card-name
                                                    a.recipe-title(href="#")
                                                        span.caramelo Crystals
                                                div.main-card-description
                                                    p.
                                                        Aqu&iacute; encontrar&aacute;s todos los crystals de los que disponemos actualmente.
                                            //div.recipe-time
                                                span
                                                    i.fa.fa-bars
                                                span  M&aacute;s info
                                    div.col-md-6.col-sm-12(style="padding-left:0px")
                                        div.main-card#crystals(style="min-height: 124px")
                                            div.main-card-content
                                                div.main-card-name
                                                    div(style="float:left")
                                                        a.recipe-title(href="#")
                                                            span.caramelo Buscar
                                                    div(style="margin-top:7px; float:left; margin-left: 20px; margin-top: 10px;")
                                                        input(type="text", placeholder="Introduzca un texto", ng-model="crystalSearch").form-control

                            //Esta version tiene el modelo y la caja de busqueda separados

                            div.col-md-6.col-sm-12.col-xs-12
                                div.panel.panel-body.main-card#crystals
                                    //div.main-card-picture
                                        a(href="#")
                                            img(src="/img/toffessYMasticables.png", style="width: 100%; height: 100%;")
                                    div.main-card-content(style="word-wrap: break-word;")
                                        div.main-card-name
                                            a.recipe-title(href="#")
                                                span.caramelo.lagloria Crystal
                                        div.main-card-description
                                            p.
                                                Aqu&iacute; encontrar&aacute;s todos los caramelos crystal de los que disponemos actualmente.
                            div.col-md-6.col-sm-12.col-xs-12
                                div.panel.panel-body(style="min-height: 124px")
                                    div.main-card-content
                                        div.main-card-name.col-md-12
                                            div.col-md-4.reset-padding-left
                                                a.recipe-title(href="#")
                                                    span.caramelo.lagloria Buscar
                                            div.col-md-6.col-xs-6(style="margin-top:7px")
                                                input(type="text", placeholder="Introduzca un texto", ng-model="crystalSearch").form-control

                            div(style="clear:both")
                                div
                                    div(ng-repeat="producto in productos | filter:crystalSearch", style="text-align:center")
                                        div(ng-show="producto.esSurtido")
                                            div.col-md-12.col-sm-12
                                                div.panel.panel-body
                                                    div(style="text-align:left;")
                                                        h1.modelo-crystal
                                                            a(ng-href="crystal/{{producto._id}}", ng-bind-template="{{$index + 1}}. {{producto.model}}").green.hover-red
                                                    div.col-md-3.col-sm-12
                                                        div(style="float:left; margin-right: 20px; width:100%; height: 260px").hidden-sm.hidden-xs
                                                            img(ng-src="/img/imagenesMias/{{producto.image}}", height="100%", style="margin-left: 10px; margin-bottom: 10px")
                                                        div(style="float:left; margin-right: 20px; width:100%; height: 260px").hidden-md.hidden-lg
                                                            img(ng-src="/img/imagenesMias/{{producto.image}}", height="100%", width="30%", style="margin-left: 10px; margin-bottom: 10px")
                                                    div.col-md-9.col-sm-12
                                                        div.crystal-description
                                                            h3(style="text-align: justify; margin-top: 0px", ng-bind-template="{{producto.description}}").blue
                                        div(ng-show="!producto.esSurtido")
                                            div.col-md-3.col-sm-6
                                                div.panel.panel-body.panel-crystal
                                                    div(style="text-align:left")
                                                        h1(style="margin-bottom:30px").modelo-crystal
                                                            a(ng-href="crystal/{{producto._id}}", ng-bind-template="{{$index + 1}}. {{producto.model}}").green.hover-red
                                                    div.col-md-12
                                                        div(style="margin-right: 20px; height: 100px; max-height: 200px;").margenInferior-30
                                                            img(ng-src="/img/imagenesMias/{{producto.image}}", height="100%", width="100%", style="margin-left: 10px; margin-bottom: 10px")
                                                    div.col-md-12
                                                        div.crystal-description
                                                            h3(style="text-align: justify; margin-top: 5px", ng-bind-template="{{producto.description}}").blue


block scripts
    script(src='/js/jquery.js')
    script(src='/js/bootstrap.js')
    script(src='/js/angular.js')
    script(src='/js/angular/services.js')
    script(src='/js/angular/loguedUser.js')
    script(src='/js/angular/duros/crystals.js')
    script(src='/js/angular/navbar.js')