extends ../../layout

block head
    title Sin grupo
    link(rel="stylesheet", href="/css/backgroundImage.css")

block content
    div#container(ng-app="sinGrupo")

        div(ng-controller="loginNavbarController")
            div(ng-controller="mainController")

                include ../../partials/navbar

                main.margen-superior-50
                    div.container(ng-app="sinGrupo")
                        div.row(ng-controller="mainController")
                            include ../../partials/botonesMovil

                            div.col-md-12.col-xs-12
                                div.panel.panel-body
                                    div.main-card-content
                                        div.main-card-description
                                            div.main-card-name
                                                a(href="/gamaPropia")
                                                    span.caramelo Gama propia
                                                b.abel.mayorQue >
                                                a(href="../duros")
                                                    span.caramelo Duros
                                                b.abel.mayorQue >
                                                a(href="#")
                                                    span.caramelo Sin grupo

                            //Este col es con la tarjeta unificada para el modelo y la caja de busqueda

                            //TARJETAS SEPARADAS

                            //div.col-md-12
                                div.panel.panel-body
                                    div.col-md-6.col-sm-12(style="padding-left:0px")
                                        div.main-card#crystals
                                            //div.main-card-picture
                                                a(href="#")
                                                    img(src="/img/toffessYMasticables.png", style="width: 100%; height: 100%;")
                                            div.main-card-content(style="word-wrap: break-word;")
                                                div.main-card-name
                                                    a.recipe-title(href="#")
                                                        span.caramelo Crystals
                                                div.main-card-description
                                                    p.
                                                        Aqu&iacute; encontrar&aacute;s todos los crystals de los que disponemos actualmente.
                                            //div.recipe-time
                                                span
                                                    i.fa.fa-bars
                                                span  M&aacute;s info
                                    div.col-md-6.col-sm-12(style="padding-left:0px")
                                        div.main-card#crystals(style="min-height: 124px")
                                            div.main-card-content
                                                div.main-card-name
                                                    div(style="float:left")
                                                        a.recipe-title(href="#")
                                                            span.caramelo Buscar
                                                    div(style="margin-top:7px; float:left; margin-left: 20px; margin-top: 10px;")
                                                        input(type="text", placeholder="Introduzca un texto", ng-model="crystalSearch").form-control

                            //Esta version tiene el modelo y la caja de busqueda separados

                            div.col-md-6.col-sm-12.col-xs-12
                                div.panel.panel-body.main-card#sinGrupo
                                    //div.main-card-picture
                                        a(href="#")
                                            img(src="/img/toffessYMasticables.png", style="width: 100%; height: 100%;")
                                    div.main-card-content(style="word-wrap: break-word;")
                                        div.main-card-name
                                            a.recipe-title(href="#")
                                                span.caramelo Sin grupo
                                        div.main-card-description
                                            p.
                                                Aqu&iacute; encontrar&aacute;s todos los caramelos sin grupo de los que disponemos actualmente.
                                    //div.recipe-time
                                        span
                                            i.fa.fa-bars
                                        span  M&aacute;s info
                            div.col-md-6.col-sm-12.col-xs-12
                                div.panel.panel-body(style="min-height: 124px")
                                    div.main-card-content
                                        div.main-card-name.col-md-12
                                            div.col-md-4.reset-padding-left
                                                a.recipe-title(href="#")
                                                    span.caramelo Buscar
                                            div.col-md-6.col-xs-6(style="margin-top:7px")
                                                input(type="text", placeholder="Introduzca un texto", ng-model="sinGrupoSearch").form-control


                            div(style="clear:both")
                                div
                                    div(ng-repeat="sinGrupo in sinGrupos | filter:sinGrupoSearch", style="text-align:center")
                                        //div(ng-show="esSurtido(duro)")
                                            div.col-md-12.col-sm-12
                                                div.panel.panel-body.panel-duro
                                                    div(style="text-align:left;")
                                                        h1(style="margin-bottom:30px").modelo-duro
                                                            a(ng-href="duros/{{duro._id}}", ng-bind-template="{{$index + 1}}. {{duro.model}}").green.hover-red
                                                    div.col-md-2
                                                        div(style="float:left; margin-right: 20px; width:100%; height: 260px").hidden-sm
                                                            img(ng-src="/img/imagenesMias/{{duro.image}}", height="100%", width="100%", style="margin-left: 10px; margin-bottom: 10px")
                                                        div(style="float:left; margin-right: 20px; width:100%; height: 260px").hidden-md.hidden-lg
                                                            img(ng-src="/img/imagenesMias/{{duro.image}}", height="100%", width="30%", style="margin-left: 10px; margin-bottom: 10px")
                                                    div.col-md-10
                                                        div(style="margin-left: 15px;").duro-description
                                                            h3(style="text-align: justify; margin-top: 0px", ng-bind-template="{{duro.description}}").blue
                                        //div(ng-show="!esSurtido(duro)")
                                            div.col-md-3.col-sm-6
                                                div.panel.panel-body.panel-duro
                                                    div(style="text-align:left")
                                                        h1(style="margin-bottom:30px").modelo-duro
                                                            a(ng-href="duros/{{duro._id}}", ng-bind-template="{{$index + 1}}. {{duro.model}}").green.hover-red
                                                    div(style="margin-right: 20px; height: 100px; max-height: 200px;").margenInferior-30
                                                        img(ng-src="/img/imagenesMias/{{duro.image}}", height="100%", width="100%", style="margin-left: 10px; margin-bottom: 10px")
                                                    div.duro-description
                                                        h3(style="text-align: justify; margin-top: 5px", ng-bind-template="{{duro.description}}").blue
                                        div.col-md-3.col-sm-6
                                            div.panel.panel-body.panel-sinGrupo
                                                div(style="text-align:left")
                                                    h1(style="margin-bottom:30px").modelo-sinGrupo
                                                        a(ng-href="sinGrupo/{{sinGrupo._id}}", ng-bind-template="{{$index + 1}}. {{sinGrupo.model}}").green.hover-red
                                                div.col-md-12
                                                    div(style="margin-right: 20px; height: 100px; max-height: 200px;").margenInferior-30
                                                        img(ng-src="/img/imagenesMias/{{sinGrupo.image}}", height="100%", width="100%", style="margin-left: 10px; margin-bottom: 10px")
                                                div.col-md-12
                                                    div.sinGrupo-description
                                                        h3(style="text-align: justify; margin-top: 5px", ng-bind-template="{{sinGrupo.description}}").blue


block scripts
    script(src='/js/jquery.js')
    script(src='/js/bootstrap.js')
    script(src='/js/angular.js')
    script(src='/js/angular/duros/sinGrupo.js')
    script(src='/js/angular/loginNavbar.js')