extends ../layout

block head
    title Con palo
    link(rel="stylesheet", href="/css/backgroundImage.css")

block content
    div#container(ng-app="lagloria")
        div(ng-controller="LoguedUserController")

            include ../partials/navbar

            div(ng-controller="ConPaloController")
                main.margen-superior-50
                    div.container
                        div.row
                            include ../partials/botonesMovil

                            div.col-md-12.col-xs-12
                                div.panel.panel-body
                                    div.main-card-content
                                        div.main-card-description
                                            div.main-card-name
                                                a(href="/gamaPropia")
                                                    span.caramelo.lagloria Gama propia
                                                b.abel.mayorQue >
                                                a(href="#")
                                                    span.caramelo.lagloria Con palo

                            div.col-md-6.col-sm-12.col-xs-12
                                div.panel.panel-body.main-card#conPalo
                                    //div.main-card-picture
                                        a(href="#")
                                            img(src="/img/toffessYMasticables.png", style="width: 100%; height: 100%;")
                                    div.main-card-content(style="word-wrap: break-word;")
                                        div.main-card-name
                                            a.recipe-title(href="#")
                                                span.caramelo.lagloria Con palo
                                        div.main-card-description
                                            p.
                                                Aqu&iacute; encontrar&aacute;s todos los caramelos con palo de los que disponemos actualmente.
                                    //div.recipe-time
                                        span
                                            i.fa.fa-bars
                                        span  M&aacute;s info
                            div.col-md-6.col-sm-12.col-xs-12
                                div.panel.panel-body(style="min-height: 124px")
                                    div.main-card-content
                                        div.main-card-name.col-md-12
                                            div.col-md-4.reset-padding-left
                                                a.recipe-title(href="#")
                                                    span.caramelo.lagloria Buscar
                                            div.col-md-6.col-xs-6(style="margin-top:7px")
                                                input(type="text", placeholder="Introduzca un texto", ng-model="conPaloSearch").form-control

                            div(style="clear:both")
                                div
                                    div(ng-repeat="conPalo in conPalos | filter:conPaloSearch", style="text-align:center")
                                        div(ng-show="conPalo.esSurtido")
                                            div.col-md-12.col-sm-12
                                                div.panel.panel-body.panel-conPalo-info
                                                    div(style="text-align:left;")
                                                        h1(style="margin-bottom:30px").modelo-conPalo
                                                            a(ng-href="conPalo/{{conPalo._id}}", ng-bind-template="{{$index + 1}}. {{conPalo.model}}").green.hover-red
                                                    div.col-md-2
                                                        div(style="float:left; margin-right: 20px; width:100%; height: 260px").hidden-sm.hidden-xs
                                                            img(ng-src="/img/imagenesMias/{{conPalo.image}}", height="100%", width="100%", style="margin-left: 10px; margin-bottom: 10px")
                                                        div(style="float:left; margin-right: 20px; width:100%; height: 260px").hidden-md.hidden-lg
                                                            img(ng-src="/img/imagenesMias/{{conPalo.image}}", height="100%", width="30%", style="margin-left: 10px; margin-bottom: 10px")
                                                    div.col-md-10
                                                        div(style="margin-left: 15px;").conPalo-description
                                                            h3(style="text-align: justify; margin-top: 0px", ng-bind-template="{{conPalo.description}}").blue
                                        div(ng-show="!conPalo.esSurtido")
                                            div.col-md-4.col-sm-6.col-xs-12
                                                div.panel.panel-body.panel-conPalo
                                                    div(style="text-align:left")
                                                        h1(style="margin-bottom:30px").modelo-conPalo
                                                            a(ng-href="conPalo/{{conPalo._id}}", ng-bind-template="{{$index + 1}}. {{conPalo.model}}").green.hover-red
                                                    div.col-xs-12
                                                        div(style="margin-right: 20px; height: 100px; max-height: 200px;").margenInferior-30
                                                            img(ng-src="/img/imagenesMias/{{conPalo.image}}", height="100%", width="100%", style="margin-left: 10px; margin-bottom: 10px")
                                                    div.col-xs-12
                                                        div.conPalo-description
                                                            h3(style="text-align: justify; margin-top: 5px", ng-bind-template="{{conPalo.description}}").blue


block scripts
    script(src='/js/jquery.js')
    script(src='/js/bootstrap.js')
    script(src='/js/angular.js')
    script(src='/js/angular/services.js')
    script(src='/js/angular/loguedUser.js')
    script(src='/js/angular/conPalo.js')
    script(src='/js/angular/navbar.js')