extends ../layout

block head
    title Toffees y Masticables
    link(rel="stylesheet", href="/css/backgroundImage.css")

block content
    div#container
        header
            nav.navbar.navbar-fixed-top.fondoTurquesa(role="navigation")
                div.navbar-inner
                    div.container-fluid
                        div.navbar-header
                            button.navbar-toggle(type="button", data-toggle="collapse", data-target=".navbar-collapse")
                                span.sr-only Cambiar la navegación
                                span.icon-bar
                                span.icon-bar
                                span.icon-bar
                            a(href="/index").navbar-brand.white.middle Inicio
                        div.collapse.navbar-collapse
                            ul.nav.navbar-nav
                                li.active
                                    a(href="/gamaPropia").middle Gama propia
                                li
                                    a(href="#").middle Publicitarios
                                li
                                    a(href="#").middle Contacto
                                //li
                                    div.input-group.navbar-input-group.fbSearch
                                        form#search-form.navbar-form.navbar-left.hidden-xs.hidden-sm(role="search", method="get", action="#")
                                            div.form-group
                                                input.form-control.border-search.border-rect-red#srchterm(type="text", placeholder="Buscar...", name="srchterm")
                                                span.input-group-btn-red.navbar-input-group-btn
                                                    button.btn.btn-default(type="submit")
                                                        i.fa.fa-search
                                            div.suggest
                                                ul
                                                    li.header
                                                        span.text Recipes
                                                    li
                                                        a(href="#")
                                                            span.fa.fa-search
                                                            span.text Search recipes
                                                            span.category
                                                    li.header
                                                        span.text People
                                                    li
                                                        a(href="#")
                                                            span.fa.fa-search
                                                            span.text Search people
                                                            span.category

                            ul.nav.navbar-nav.navbar-right.hidden-xs.hidden-sm
                                a.btn.btn-default.btn-eathub-red(href="#", role="button")#entrar Entrar
        main.margen-superior-50
            div.container
                div.row
                    div.col-md-12.hidden-md.hidden-lg
                        div.panel.panel-default.panel-body.text-center
                            br
                            div.col-md-12.col-xs-12.hidden-md.hidden-lg
                                a.btn.btn-default.btn-eathub(href="#", role="button") Entrar
                    div.col-md-12
                        div.panel.panel-body
                            div.main-card-content
                                div.main-card-description
                                    div.main-card-name
                                        a(href="/gamaPropia")
                                            span.caramelo Gama propia
                                        b.abel(style="margin-left:10px; margin-right: 10px") >
                                        a(href="#")
                                            span.caramelo Toffees y Masticables
                    div.col-sm-6.col-md-6
                        div.panel.panel-body.main-card#toffees
                            //div.main-card-picture
                                a(href="#")
                                    img(src="/img/toffessYMasticables.png", style="width: 100%; height: 100%;")
                            div.main-card-content(style="word-wrap: break-word;")
                                div.main-card-name
                                    a.recipe-title(href="toffeesYMasticables/toffees")
                                        span.caramelo Toffees
                                div.main-card-description
                                    p.
                                        Si te gustan los caramelos que se deshacen en la boca &eacute;stos son los tuyos.
                            //div.recipe-time
                                span
                                    i.fa.fa-bars
                                span  M&aacute;s info
                    div.col-sm-6.col-md-6
                        div.panel.panel-body.main-card#masticables
                            //div.main-card-picture
                                a(href="#")
                                    img(src="/img/duros.png", style="width: 100%; height: 100%;")
                            div.main-card-content(style="word-wrap: break-word;")
                                div.main-card-name
                                    a.recipe-title(href="toffeesYMasticables/masticables")
                                        span.caramelo Masticables
                                div.main-card-description
                                    p.
                                        Los caramelos de toda la vida.
                            //div.recipe-time
                                span
                                    i.fa.fa-bars
                                span  M&aacute;s info

