// Surtido: ordenadores y moviles
// Otros:   ordenadores y moviles

extends ../../../layout
block head
    title Información
    link(rel="stylesheet", href="/css/backgroundImage.css")
block content
    div#container(ng-app="lagloria")
        div(ng-controller="LoguedUserController")

            include ../../../partials/navbar

            div(ng-controller="InfoMasticableController")
                main.margen-superior-50
                    div.container
                        div.row
                            include ../../../partials/botonesMovil

                            div.col-md-12
                                div.panel.panel-body
                                    div.main-card-content
                                        div.main-card-description
                                            div.main-card-name
                                                a(href="/gamaPropia")
                                                    span.caramelo.lagloria Gama propia
                                                b.abel.mayorQue >
                                                a(href="../../toffeesYMasticables")
                                                    span.caramelo.lagloria Toffees y Masticables
                                                b.abel.mayorQue >
                                                a(href="../masticables")
                                                    span.caramelo.lagloria Masticables
                            div
                                div
                                    div.col-md-12
                                        div.panel.panel-body
                                            div.main-card-content(style="word-wrap: break-word;")
                                                div.main-card-name
                                                    a.recipe-title(href="#")
                                                        span.caramelo.lagloria(ng-bind-template="{{producto.model}}")

                                    div.col-md-12.col-sm-12.col-xs-12
                                        div.panel.panel-body.panel-masticable-info
                                            div.col-md-3.col-sm-12
                                                //div(style="float:left; width: 100%; height: 260px", ng-show="imagenesOriginales").hidden-sm.hidden-xs.text-center
                                                    img(ng-src="/img/imagenesMias/{{producto.image}}", height="100%", width="100%", style="margin-left: 10px; margin-bottom: 10px")
                                                //div(style="float:left; margin-right: 20px; height: 260px", ng-show="imagenesOriginales").hidden-md.hidden-lg.text-center.col-sm-4.col-sm-offset-4.col-xs-4.col-xs-offset-4
                                                    img(ng-src="/img/imagenesMias/{{producto.image}}", height="100%", width="100%", style="margin-left: 10px; margin-bottom: 10px")


                                                //div(style="float:left; width: 100%;", ng-show="imagenesOriginales == false").hidden-sm.hidden-xs.text-center
                                                    img(ng-src="/img/redimensionadas/{{producto.resizedImage}}", height="100%", width="100%", style="margin-left: 10px; margin-bottom: 10px")
                                                //div(style="float:left; margin-right: 20px; height: 260px", ng-show="imagenesOriginales == false").hidden-md.hidden-lg.text-center.col-sm-4.col-sm-offset-4.col-xs-4.col-xs-offset-4
                                                    img(ng-src="/img/redimensionadas/{{producto.resizedImage}}", height="100%", width="100%", style="margin-left: 10px; margin-bottom: 10px")

                                                div.panel.panel-body#carousel-example-generic.carousel.slide(data-ride="carousel", style="background-color: white")
                                                    ol.carousel-indicators
                                                        li(data-target="#carousel-example-generic", data-slide-to="0").active
                                                        li(data-target="#carousel-example-generic", ng-show="numero != 0", data-slide-to="{{numero}}", ng-repeat="numero in numeros")

                                                    div.carousel-inner
                                                        div.item.active.galeria
                                                            img(ng-src="/img/redimensionadas/{{producto.resizedImage}}", alt="", style="margin:auto")
                                                            div.carousel-caption

                                                        div.item.galeria(ng-repeat="sabor in producto.avaibleSavours")
                                                            img.sabor(ng-src="/img/redimensionadas/{{sabor.image}}", alt="", style="padding-top: 60px;")
                                                            div.carousel-caption
                                                        //div.item.active.galeria
                                                            img(ng-src="/img/redimensionadas/{{sabor.image}}", alt="", style="margin:auto")

                                                    //div.carousel-inner
                                                        div.item.active.galeria
                                                            img(ng-src="/img/redimensionadas/masticables/cola.jpg", alt="", style="margin:auto")
                                                        div.item.galeria
                                                            img(ng-src="/img/redimensionadas/masticables/naranja.jpg", alt="", style="margin:auto")
                                                        div.item.galeria
                                                            img(ng-src="/img/redimensionadas/masticables/limon.jpg", alt="", style="margin:auto")

                                                    a.left.carousel-control(href="#carousel-example-generic", role="button", data-slide="prev", style="background-color: white")
                                                        //span.glyphicon.glyphicon-chevron-left
                                                        i.fa.fa-arrow-left.flecha

                                                    a.right.carousel-control(href="#carousel-example-generic", role="button", data-slide="next", style="background-color: white")
                                                        //span.glyphicon.glyphicon-chevron-right
                                                        i.fa.fa-arrow-right.flecha


                                            div.col-md-8.col-md-offset-1.col-sm-12
                                                h1(style="text-align: left;").separador-horizontal.green Detalles
                                                div.row.blue
                                                    div.col-md-4.col-sm-4.col-xs-4
                                                        h3 Categoría
                                                    div.col-md-4.col-sm-4.col-xs-4
                                                        h3 Tipo
                                                    div.col-md-4.col-sm-4.col-xs-4
                                                        h3 Modelo
                                                div.row
                                                    div.col-md-4.col-sm-4.col-xs-4
                                                        h3(ng-bind-template="{{producto.category}}")
                                                    div.col-md-4.col-sm-4.col-xs-4
                                                        h3(ng-bind-template="{{producto.type}}")
                                                    div.col-md-4.col-sm-4.col-xs-4
                                                        h3(ng-bind-template="{{producto.model}}")
                                                div.row.blue
                                                    div.col-md-4.col-sm-4.col-xs-4
                                                        h3 Pedido mínimo
                                                    div.col-md-4.col-sm-4.col-xs-4
                                                        h3 Precio
                                                div.row
                                                    div.col-md-4.col-sm-4.col-xs-4
                                                        h3(ng-bind-template="{{producto.minimumOrder}} Kg")
                                                    div.col-md-4.col-sm-4.col-xs-4
                                                        h3(ng-bind-template="{{producto.price}} € / Kg")

                                            include ../../../partials/botonComprar

                                        div.panel.panel-body
                                            div.masticable-info-description.blue
                                                h3(style="text-align: justify; margin-top: 0px", ng-bind-template="{{producto.description}}")



                                    //div(ng-show="producto.esSurtido")
                                        // Vista para ordenadores
                                        div.col-md-12.col-sm-12.col-xs-12
                                            div.panel.panel-body.panel-masticable-info
                                                div.col-md-2.col-sm-12
                                                    div(style="float:left; width: 100%; height: 260px", ng-show="imagenesOriginales").hidden-sm.hidden-xs.text-center
                                                        img(ng-src="/img/imagenesMias/{{producto.image}}", height="100%", width="100%", style="margin-left: 10px; margin-bottom: 10px")
                                                    div(style="float:left; margin-right: 20px; height: 260px", ng-show="imagenesOriginales").hidden-md.hidden-lg.text-center.col-sm-4.col-sm-offset-4.col-xs-4.col-xs-offset-4
                                                        img(ng-src="/img/imagenesMias/{{producto.image}}", height="100%", width="100%", style="margin-left: 10px; margin-bottom: 10px")


                                                    div(style="float:left; width: 100%;", ng-show="imagenesOriginales == false").hidden-sm.hidden-xs.text-center
                                                        img(ng-src="/img/redimensionadas/{{producto.resizedImage}}", height="100%", width="100%", style="margin-left: 10px; margin-bottom: 10px")
                                                    div(style="float:left; margin-right: 20px; height: 260px", ng-show="imagenesOriginales == false").hidden-md.hidden-lg.text-center.col-sm-4.col-sm-offset-4.col-xs-4.col-xs-offset-4
                                                        img(ng-src="/img/redimensionadas/{{producto.resizedImage}}", height="100%", width="100%", style="margin-left: 10px; margin-bottom: 10px")
                                                div.col-md-9.col-md-offset-1.col-sm-12
                                                    h1(style="text-align: left;").separador-horizontal.green Detalles
                                                    div.row.blue
                                                        div.col-md-4.col-sm-4.col-xs-4
                                                            h3 Categoría
                                                        div.col-md-4.col-sm-4.col-xs-4
                                                            h3 Tipo
                                                        div.col-md-4.col-sm-4.col-xs-4
                                                            h3 Modelo
                                                    div.row
                                                        div.col-md-4.col-sm-4.col-xs-4
                                                            h3(ng-bind-template="{{producto.category}}")
                                                        div.col-md-4.col-sm-4.col-xs-4
                                                            h3(ng-bind-template="{{producto.type}}")
                                                        div.col-md-4.col-sm-4.col-xs-4
                                                            h3(ng-bind-template="{{producto.model}}")
                                                    div.row.blue
                                                        div.col-md-4.col-sm-4.col-xs-4
                                                            h3 Pedido mínimo
                                                        div.col-md-4.col-sm-4.col-xs-4
                                                            h3 Precio
                                                    div.row
                                                        div.col-md-4.col-sm-4.col-xs-4
                                                            h3(ng-bind-template="{{producto.minimumOrder}} Kg")
                                                        div.col-md-4.col-sm-4.col-xs-4
                                                            h3(ng-bind-template="{{producto.price}} € / Kg")

                                                include ../../../partials/botonComprar

                                            div.panel.panel-body
                                                div.masticable-info-description.blue
                                                    h3(style="text-align: justify; margin-top: 0px", ng-bind-template="{{producto.description}}")


                                    //div(ng-show="!producto.esSurtido")
                                        // Vista para ordenadores
                                        div.col-md-12.col-sm-12.col-xs-12
                                            div.panel.panel-body.panel-masticable-info
                                                div.col-md-5.col-sm-12.text-center
                                                    div(style="float:left; margin-right: 20px; width: 100%; height: 300px", ng-show="imagenesOriginales")
                                                        img(ng-src="/img/imagenesMias/{{producto.image}}", height="30%", width="70%", style="margin-left: 10px; margin-bottom: 10px; margin-top:60px")

                                                    div(style="float:left; margin-right: 20px; width: 100%;", ng-show="imagenesOriginales == false")
                                                        img(ng-src="/img/redimensionadas/{{producto.resizedImage}}", width="70%", style="margin-left: 10px; margin-bottom: 10px; margin-top:60px")
                                                div.col-md-7.col-sm-12
                                                    h1(style="text-align: left;").separador-horizontal.green Detalles
                                                    div.row.blue
                                                        div.col-md-4.col-sm-4.col-xs-4
                                                            h3 Categoría
                                                        div.col-md-4.col-sm-4.col-xs-4
                                                            h3 Tipo
                                                        div.col-md-4.col-sm-4.col-xs-4
                                                            h3 Modelo
                                                    div.row
                                                        div.col-md-4.col-sm-4.col-xs-4
                                                            h3(ng-bind-template="{{producto.category}}")
                                                        div.col-md-4.col-sm-4.col-xs-4
                                                            h3(ng-bind-template="{{producto.type}}")
                                                        div.col-md-4.col-sm-4.col-xs-4
                                                            h3(ng-bind-template="{{producto.model}}")
                                                    div.row.blue
                                                        div.col-md-4.col-sm-4.col-xs-4
                                                            h3 Pedido mínimo
                                                        div.col-md-4.col-sm-4.col-xs-4
                                                            h3 Precio
                                                    div.row
                                                        div.col-md-4.col-sm-4.col-xs-4
                                                            h3(ng-bind-template="{{producto.minimumOrder}} Kg")
                                                        div.col-md-4.col-sm-4.col-xs-4
                                                            h3(ng-bind-template="{{producto.price}} € / Kg")
                                            div.panel.panel-body
                                                div.masticable-info-description.blue
                                                    h3(style="text-align: justify; margin-top: 0px", ng-bind-template="{{producto.description}}")




block scripts
    script(src='/js/jquery.js')
    script(src='/js/bootstrap.js')
    script(src='/js/angular.js')
    script(src='/js/angular/services.js')
    script(src='/js/angular/loguedUser.js')
    script(src='/js/angular/toffeesYMasticables/masticables/info.js')
    script(src='/js/angular/navbar.js')
    script(src='/js/angular/comprar.js')