extends ../adminPartials/layout

block content
    //div.navbar.navbar-inverse.navbar-fixed-top(role="navigation")
        div.container-fluid
            div.navbar-header
                button(type="button", data-toggle="collapse", data-target=".navbar-collapse").navbar-toggle.collapsed
                    span.sr-only Cambiar la navegación
                    span.icon-bar
                    span.icon-bar
                    span.icon-bar
                a(href="/inicio").navbar-brand Panel de administración

            div.navbar-collapse.collapse(style="height: 1px;")
                ul.nav.navbar-nav.navbar-right
                    li
                        a(href="http://getbootstrap.com/examples/dashboard/#") Dashboard
                    li
                        a(href="http://getbootstrap.com/examples/dashboard/#") Settings
                    li
                        a(href="http://getbootstrap.com/examples/dashboard/#") Profile
                    li
                        a(href="http://getbootstrap.com/examples/dashboard/#") Help

                form.navbar-form.navbar-right
                    input(type="text", placeholder="Search...").form-control

    div(ng-app="dashboard")
        div
            include ../adminPartials/navbar

        div.container-fluid
            div.row

                include ../adminPartials/sidebar

                div.col-sm-9.col-sm-offset-3.col-md-10.col-md-offset-2.main

                    h1.page-header Panel de Administración
                    div.
                        Se encuentra en el panel de administración de la página web de La Gloria S.L. A la izquierda se encuentran todas las
                        secciones y funcionalidades de la web.


block scripts
    script(src="/js/jquery.js")
    script(src="/js/bootstrap.js")
    script(src="/js/angular.js")
    script(src="/js/angular/admin/dashboard.js")
    script(src="/js/angular/admin/navbar.js")
    script(src="/js/angular/admin/sidebar.js")