extends layout

block head
    title Login
    link(rel="stylesheet", href="/css/backgroundImage.css")

block content
    div#container.fondoCaramelos(ng-app="lagloria")
        div(ng-controller="LoguedUserController")
            div(ng-controller="CarritoController")
                include partials/navbar

                main
                    div.col-md-12.col-sm-12.col-xs-12(style="clear:both; margin-top:50px; margin-left:0px")
                        div.panel.panel-body.main-card(style="height: auto")
                            div.main-card-content(style="word-wrap: break-word;")
                                div.main-card-name
                                    p.recipe-title(style="text-align:center; padding-left: 0px")
                                        span Carrito

                                div.col-md-12.col-sm-12
                                    table.table
                                        thead
                                            tr
                                                th Número
                                                th Categoría
                                                th Tipo
                                                th Modelo
                                                th Precio / Kg
                                                th Cantidad
                                                th Precio por producto
                                        tbody(ng-repeat="producto in productos")
                                            tr
                                                td(ng-bind-template="{{$index + 1}}")
                                                td(ng-bind-template="{{producto.category}}")
                                                td(ng-bind-template="{{producto.type}}")
                                                td(ng-bind-template="{{producto.model}}")
                                                td(ng-bind-template="{{producto.price}} €")
                                                td
                                                    div
                                                        label(style="font-weight: normal", ng-model="producto.quantity", ng-init="producto.quantity = producto.quantity || producto.minimumOrder", min="{{producto.minimumOrder}}", ng-change="actualizarPrecios(producto)", ng-bind-template="{{producto.quantity}} uds.")
                                                        a(href="#", style="margin-left:15px", ng-click="aumentarCantidad(producto)")
                                                            i.fa.fa-plus-circle.green
                                                        a(href="#", style="margin-left: 10px", ng-click="reducirCantidad(producto)")
                                                            i.fa.fa-minus-circle.red
                                                td
                                                    div(ng-model="producto.total", ng-init="producto.total = producto.quantity * producto.price", disabled, ng-bind-template="{{producto.total}} €")

                                        tbody
                                            tr
                                                td
                                                td
                                                td
                                                td
                                                td
                                                td
                                                td Total: {{precioTotal()}} €

                                div.col-md-12
                                    div.col-md-2
                                        a.btn.btn-default.btn-lagloria(href="#", role="button", ng-click="guardarCambios()")#buscar Guardar cambios
                                    div.col-md-2
                                        a.btn.btn-default.btn-eathub(href="#", role="button", ng-click="realizarPedido()")#comprar Confirmar pedido



    include modals/formularioPedido


block scripts
    script(src='/js/jquery.js')
    script(src='/js/bootstrap.js')
    script(src='/js/angular.js')
    script(src='/js/angular/services.js')
    script(src='/js/angular/loguedUser.js')
    script(src='/js/angular/carrito.js')
    script(src='/js/angular/navbar.js')

