extends layout

block head
    title Gama propia
    link(rel="stylesheet", href="/css/backgroundImage.css")

block content
    div#container.fondoCaramelos
        header
            nav.navbar.navbar-fixed-top.fondoTurquesa(role="navigation")
                div.navbar-inner
                    div.container-fluid
                        div.navbar-header
                            button.navbar-toggle(type="button", data-toggle="collapse", data-target=".navbar-collapse")
                                span.sr-only Cambiar la navegación
                                span.icon-bar
                                span.icon-bar
                                span.icon-bar
                            a(href="/index").navbar-brand.white.middle Inicio
                        div.collapse.navbar-collapse
                            ul.nav.navbar-nav
                                li.active
                                    a(href="#").middle Gama propia
                                li
                                    a(href="#").middle Publicitarios
                                li
                                    a(href="#").middle Contacto
                                //li
                                    div.input-group.navbar-input-group.fbSearch
                                        form#search-form.navbar-form.navbar-left.hidden-xs.hidden-sm(role="search", method="get", action="#")
                                            div.form-group
                                                input.form-control.border-search.border-rect-red#srchterm(type="text", placeholder="Buscar...", name="srchterm")
                                                span.input-group-btn-red.navbar-input-group-btn
                                                    button.btn.btn-default(type="submit")
                                                        i.fa.fa-search
                                            div.suggest
                                                ul
                                                    li.header
                                                        span.text Recipes
                                                    li
                                                        a(href="#")
                                                            span.fa.fa-search
                                                            span.text Search recipes
                                                            span.category
                                                    li.header
                                                        span.text People
                                                    li
                                                        a(href="#")
                                                            span.fa.fa-search
                                                            span.text Search people
                                                            span.category

                            ul.nav.navbar-nav.navbar-right.hidden-xs.hidden-sm
                                a.btn.btn-default.btn-eathub-red(href="#", role="button")#entrar Entrar
        main.margen-superior-50
            div.container
                div.row
                    div.col-md-12.hidden-md.hidden-lg
                        div.panel.panel-default.panel-body.text-center
                            br
                            div.col-md-12.col-xs-12.hidden-md.hidden-lg
                                a.btn.btn-default.btn-eathub(href="#", role="button") Entrar
                    div.col-md-12
                        div.panel.panel-body
                            div.main-card-content
                                div.main-card-description
                                    div.main-card-name
                                        a(href="/gamaPropia")
                                            span.caramelo Gama propia
                    div.col-sm-6.col-md-3
                        div.panel.panel-body.main-card#blandos
                            div.main-card-picture
                                a(href="/gamaPropia/toffeesYMasticables")
                                    img(src="/img/toffessYMasticables2.png", style="width: 90%; height: 90%;").imagenCategoria
                            div.main-card-content(style="word-wrap: break-word;")
                                //div.main-card-name
                                    a.recipe-title(href="#")
                                        span.caramelo Blandos
                                div.main-card-description
                                    p.
                                        Si te gustan los caramelos que se deshacen en la boca &eacute;stos son los tuyos.
                            //div.recipe-time
                                span
                                    i.fa.fa-bars
                                span  M&aacute;s info
                    div.col-sm-6.col-md-3
                        div.panel.panel-body.main-card#duros
                            div.main-card-picture
                                a(href="#")
                                    img(src="/img/duros2.png", style="width: 100%; height: 85%;").imagenCategoria.duros
                            div.main-card-content(style="word-wrap: break-word;")
                                //div.main-card-name
                                    a.recipe-title(href="#")
                                        span.caramelo Duros
                                div.main-card-description
                                    p.
                                        Los caramelos de toda la vida.
                            //div.recipe-time
                                span
                                    i.fa.fa-bars
                                span  M&aacute;s info
                    div.col-sm-6.col-md-3
                        div.panel.panel-body.main-card#grageados
                            div.main-card-picture
                                a(href="#")
                                    img(src="/img/grageados2.png", style="width: 100%; height: 80%;").imagenCategoria
                            div.main-card-content(style="word-wrap: break-word;")
                                //div.main-card-name
                                    a.recipe-title(href="#")
                                        span.caramelo Grageados
                                div.main-card-description
                                    p.
                                        Caramelos ideales para fiestas de cumpleaños.
                            //div.recipe-time
                                span
                                    i.fa.fa-bars
                                span  M&aacute;s info
                    div.col-sm-6.col-md-3
                        div.panel.panel-body.main-card#conPalo
                            div.main-card-picture
                                a(href="#")
                                    img(src="/img/conPalo2.png", style="width: 100%; height: 100%;")
                            div.main-card-content(style="word-wrap: break-word;")
                                //div.main-card-name
                                    a.recipe-title(href="#")
                                        span.caramelo Con palo
                                div.main-card-description
                                    p.
                                        Si prefieres los novedosos caramelos con palo ésta es tu sección.
                            //div.recipe-time
                                span
                                    i.fa.fa-bars
                                span  M&aacute;s info

        div#lightboxOverlay.lightboxOverlay(style="display: none;")
        div#lightbox.lightbox(style="display: none;")
            div.lb-outerContainer
                div.lb-container
                    img.lb-image(src="")
                    div.lb-nav
                        a.lb-prev(href="")
                        a.lb-next(href="")
                    div.lb-loader
                        a.lb-cancel
            div.lb-dataContainer
                div.lb-data
                    div.lb-details
                        span.lb-caption
                        span.lb-number
                    div.lb-closeContainer
                        a.lb-close
