extends layout

block head
    title Caramelos La Gloria
    link(rel="stylesheet", href="/css/backgroundImage.css")

block content
    div#container.fondoCaramelos
        header
            nav.navbar.navbar-fixed-top.navbar-default.fondoTurquesa(role="navigation")
                div.navbar-inner
                    div.container
                        div.navbar-header
                            button.navbar-toggle.collapsed(type="button", data-toggle="collapse", data-target=".navbar-collapse")
                                span.sr-only Cambiar la navegación
                                span.icon-bar
                                span.icon-bar
                                span.icon-bar
                            a(href="/index").navbar-brand.white.middle Inicio
                        div.collapse.navbar-collapse.fondoTurquesa(role="navigation")
                            ul.nav.navbar-nav
                                li
                                    a(href="/gamaPropia") Gama propia
                                li
                                    a(href="#") Publicitarios
                                li
                                    a(href="#") Nosotros
                                li
                                    a(href="#") Contacto
                                //li
                                    div.input-group.navbar-input-group.fbSearch
                                        form#search-form.navbar-form.navbar-left.hidden-xs.hidden-sm(role="search", method="get", action="#")
                                            div.form-group
                                                input.form-control.border-search.border-rect-red#srchterm(type="text", placeholder="Buscar...", name="srchterm")
                                                span.input-group-btn-red.navbar-input-group-btn
                                                    button.btn.btn-default(type="submit")
                                                        i.fa.fa-search
                                            div.suggest
                                                ul
                                                    li.header
                                                        span.text Recipes
                                                    li
                                                        a(href="#")
                                                            span.fa.fa-search
                                                            span.text Search recipes
                                                            span.category
                                                    li.header
                                                        span.text People
                                                    li
                                                        a(href="#")
                                                            span.fa.fa-search
                                                            span.text Search people
                                                            span.category

                            ul.nav.navbar-nav.navbar-right.hidden-xs
                                a.btn.btn-default.btn-eathub-red(href="#", role="button")#entrar Entrar
        main
            div.container
                div.row
                    // Eso se muestra solo en los moviles
                    //div.col-md-12.hidden-md.hidden-lg
                        div.panel.panel-default.panel-body.text-center
                            br
                            div.col-md-12.col-xs-12.hidden-md.hidden-lg
                                a.btn.btn-default.btn-eathub(href="#", role="button") Entrar
                    div.col-md-4.col-md-offset-4.col-sm-6.col-sm-offset-3.col-xs-8.col-xs-offset-2
                        //div.panel.panel-body.main-card
                            div.main-card-picture
                        //a(href="#")
                        img(src="/img/logoblanco.png", style="width:100%; height: 100%")
                    div.col-md-4.col-md-offset-1.col-sm-6.col-xs-12(style="clear:both")
                        div.panel.panel-body.main-card#gamaPropia
                            //div.main-card-picture
                                a(href="#")
                                    img(src="/img/surtido.jpg", style="width: 100%; height: 100%;")
                            div.main-card-content(style="word-wrap: break-word;")
                                div.main-card-name
                                    a.recipe-title(href="/gamaPropia")
                                        span.caramelo Gama propia
                                div.main-card-description
                                    p.
                                       Caramelos ofrecidos por La Gloria, con multitud de sabores a elegir.
                            //div.recipe-time
                                span
                                    i.fa.fa-bars
                                span  M&aacute;s info
                    div.col-md-4.col-md-offset-2.col-sm-6.col-xs-12
                        div.panel.panel-body.main-card#publicitarios
                            //div.main-card-picture
                                a(href="#")
                                    img(src="/img/cola.jpg", style="width: 100%; height: 100%;")
                            div.main-card-content(style="word-wrap: break-word;")
                                div.main-card-name
                                    a.recipe-title(href="#")
                                        span.caramelo Publicitarios
                                div.main-card-description
                                    p.
                                       Caramelos personalizados con el logo de su empresa.
                            //div.recipe-time
                                span
                                    i.fa.fa-bars
                                span  M&aacute;s info
                    //div.col-sm-6.col-md-4
                        div.panel.panel-body.main-card
                            div.main-card-picture
                                a(href="#")
                                    img(src="/img/pina.jpg", style="width: 100%; height: 100%;")
                            div.main-card-content(style="word-wrap: break-word;")
                                div.main-card-name
                                    a.recipe-title(href="#")
                                        span.caramelo Con palo
                                div.main-card-description
                                    | Descripcion de con palo...
                            div.recipe-time
                                span
                                    i.fa.fa-bars
                                span  M&aacute;s info

block scripts
    script(src='/js/jquery.min.js')
    script(src='/js/bootstrap.js')

