.textoTurquesa{
    color: #41B19C !important;
}

.textoBlanco{
    color: #FFFFFF;
    padding-top: 20px;
}

.fondo{
    float:left;
    width: 70%;
    height: 100%;
}

.seccionActual{
    color: red;
    font-style: Italic;
}

.tituloBarra, .abel{
    font-family: 'Abel', sans-serif;
    font-weight: bold;
    font-size: 30px;
    color: #41B19C !important;
}

.tituloBarra a{
    color: #41B19C !important;
}

/*CSS pagina principal*/

.panelPrincipal{
    color:white;
    width:65%;
    margin-left:25%;
}

.panelPrincipal h1,p{
    padding-left: 5%;
}

.panelPrincipal h1{
    padding-top: 1%;
}

.panelPrincipal p{
    padding-bottom: 2%;
}

/*CSS caramelos blandos*/

.fondoGamaPropia{
    width: 12%;
    margin-left: 3%;
}

.fondoGamaPropia p.gamaPropia{
    background-color: #E32D28;
    font-size: 18px;
    color:white;
    font: bold;
    text-align:center;
    padding-top: 10px;
    padding-left: 7px;
    padding-right: 7px;
    padding-bottom: 10px;
}

.fondoToffees{
    margin-left: 5%;
    width:37%;
}

.fondoMasticables{
    width:37%;
    margin-left:4%;
    float:left;
}

.fondoGamaPropia p{
    text-align: left;
    font:bold;
    font-size: 12px;
    padding-left:15%;
}

.fondoGamaPropia p b{

}

.fondoTurquesa{
    background-color: #41B19C !important;
}

.titulo3{
    display: block;
    font-size: 20px;
    margin-left: 20px;
}

.imagenPrincipal{
    display:block;
    margin-left:5%;
    float:left;
    width: 60%;
    height: 55%;
    margin-bottom:3%
}

.imagenPrincipal img{
    height: 64%;
}

.imagenSecundaria{
    margin-bottom: 3%;
    display:inline-block;
    margin-left: 4%;
    margin-right: 4%;
    width: 26%;
    height: 10%;
    float:left;
}

.imagenSecundaria img{
    height: 20%;
    width: 100%;
}

.divLogos{
    float:left;
    width:100%;
    height: 60%;
    margin-bottom: 2%;
}

.divLogoBarraPrincipal{
    float:left;
    height: 35%;
    width: 18%;
    margin-left: 4%;
}

.divLogoBarraPrincipal img{
    width: 100%;
    height: 12%;
}

.divLogoEmpresa{
    height: 25%;
    width: 25%;
    float:left;
}

.divLogoEmpresa img{
    height: 35%;
}

.divLogoGamaPropia img{
    height: 15%;
}

.divLogoPublicitarios{
    margin-top: 0%;
}

.divLogoPublicitarios img{
    height: 13%;
}

.divLogoNosotros{
    margin-top:1%;
}

.divLogoNosotros img{
    height:11.5%;
}

.divLogoContacto{
    margin-top:1%;
}

.divLogoContacto img{
    height:12%;
}

.divLogoCarrito{
    margin-top:1%;
    width:7%;
    height:10%;
}

.divLogoCarrito img{
    height: 10%;
}

.logoSocial{
    width: 50px;
    height: 50px;
}

.divLogosMenu{
    bottom: 0%;
    float:left;
    width:75%;
    margin-top:7%;
}

.divRedesSociales{
    float:left;
}

.footer{
    clear: both;
    margin-top:5%;
}


.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:hover, .navbar-default .navbar-nav>.active>a:focus {
    background-color: #41B19C !important;
}

.btn-eathub-red.btn.btn-default:hover, .btn-eathub-red.btn.btn-default:focus, .btn-eathub-red.btn.btn-default:active{
    background-color: #41B19C !important;
}

.btn-eathub-red {
    background-color: #41B19C !important;
    border-color: #eeeeee !important;
}

.navbar-default{
    border-color: #eeeeee;
}

.border-search{
    border-color: #eeeeee;
}

.input-group-btn-red > .btn {
    background-color: #41B19C !important;
    border-color: #eeeeee;
}

.main-card-name span{
    color: #41B19C !important;
}

.recipe-time{
    color: #41B19C !important;
}

.btn-eathub-red.btn.btn-default:hover, .btn-eathub-red.btn.btn-default:focus, .btn-eathub-red.btn.btn-default:active {
    background-color: #ffffff;
    border-color: #41B19C !important;
    color: #41B19C !important;
}

.input-group-btn-red > .btn:hover{
    background-color: #eeeeee;
    border-color: #41B19C;
    color: #41B19C;
}

.css-form input.ng-invalid.ng-dirty {
    background-color: #FA787E;
}

.css-form input.ng-valid.ng-dirty {
    background-color: #78FA89;
}

p, a, span{
    font-family: 'Abel', sans-serif !important;
}

a{
    font-size: 18px !important;
}

span.caramelo{
    font-size: 42px !important;
}

.white{
    color: #FFFFFF;
}

.navbar-brand{
    font-size: 26px !important;
    font-weight: bold;
}

li > a:hover, .navbar-brand:hover, .btn-eathub-red:hover, .btn-default:hover, .btn:hover{
    color: #41B19C !important;
    background-color: #FFFFFF !important;
}

#entrar:hover{
    color: #41B19C !important;
    background-color: #FFFFFF !important;
}

#entrar{
    margin-top: 5px;
    margin-right: 10px;
}

nav{
    height:51px;
}

nav.navbar-inner{
    vertical-align: middle !important;
}

/*
a, nav, div{
    border: 1px solid #000000;
}
*/

/*
body{
    background-image: url('/img/gominolas.jpg') !important;
}
*/

.margen-superior-50{
    padding-top: 50px;
}

.main-card#gamaPropia, .main-card#publicitarios{
    height: 140px;
}


.main-card#gama-propia-toffeesYMasticables, .main-card#gama-propia-duros, .main-card#gama-propia-grageados, .main-card#gama-propia-conPalo{
    height: 320px;
}

.main-card-description > p{
    padding-left: 15px;
    font-size: 16px;
    text-align: justify;
    margin-left: 3px;
    margin-right: 3px;
    height: auto;
}

.main-card-content{
    height: auto;
}

main{
    padding-bottom: 0px !important;
}

#toffees, #masticables, #crystals, #glorias, #ponnies{
    height: auto;
}

.imagenCategoria{
    display:block;
    margin:auto;
}

.imagenCategoria.duros{
    padding-top: 15%;
}

.main-card-picture{

}

.imagenToffee, .imagenMasticable, .imagenCrystal, .imagenGloria{
    float:left;
}

.panel-toffee, .panel-masticable, .panel-crystal, .panel-gloria, .panel-ponny{
    height: 450px;
}

.toffee-description, .masticable-description, .crystal-description, .gloria-description, .ponny-description{
    padding-top: 10px;
    padding-left: 10px;
}

.toffee-info-description, .masticable-info-description, .crystal-info-description, .gloria-info-description, .ponny-info-description{
    padding-left: 15px;
    padding-top: 10px;
}

.margenInferior-30{
    margin-bottom: 30px;
}

h3{
    font-size: 18px;
}

.panel-toffee > div{
    margin-top:10px;
}

.col-md-right-offset-3 {
    margin-right: 25%;
}

.col-sm-right-offset-3{
    margin-right: 25%;
}

.modelo-toffee > a, .modelo-masticable > a, .modelo-crystal > a, .modelo-gloria > a, .modelo-ponny > a{
    padding-left: 15px;
    font-size: 25px !important;
    font-weight: bold;
    color: #41B19C !important;
    font-family: 'Abel', sans-serif;
}

/*
.modelo-toffee > h1, .modelo-masticable > h1, .modelo-crystal > h1, .modelo-gloria > h1{
    padding-left: 15px;
    font-size: 25px !important;
    font-weight: bold;
    color: #41B19C !important;
    font-family: 'Abel', sans-serif;
}
*/

.panel-toffee-info, .panel-masticable-info, .panel-crystal-info, .panel-gloria-info, .panel-ponny-info{
    padding-top: 30px;
}

.separador-horizontal{
    border-bottom: 1px solid #B0B0B0;
}

.red{
    color: #CC3E27;
}

.green{
    color: #398439;
}

.blue{
    color: #004099;
}

.orange{
    color: #faa732;
}

.gray{
    color: #808080;
}

.purple{
    color: #4400FF;
}

.black{
    color: #000000;
}

h1{
    margin-top: 0px;
}

div.row div h3{
    font-family: 'Abel', sans-serif;
    font-weight: bold;
    font-size: 22px;
}

.navbar-toggle{
    color: #FFFFFF !important;
}

.navbar-default .navbar-brand{
    color: white;
}

.navbar-default .navbar-toggle{
    border-color: #FFFFFF !important;
}

/* Para que se inviertan los colores cuando nos ponemos encima */
.navbar-default:hover .navbar-toggle:hover{
    background-color: #FFFFFF !important;
    border-color: #ffffff !important;
    color: #41B19C !important;
}

/* Para que se inviertan los colores cuando nos ponemos encima */
.navbar-default:hover .navbar-toggle:hover .icon-bar{
    background-color: #41B19C !important;
}

/* Para que cuando tenga el foco los colores sean los mismos que los iniciales */
.navbar-default .navbar-toggle:focus{
    background-color: #41B19C !important;
    border-color: #ffffff !important;
}

/* Para que cuando tenga el foco los colores sean los mismos que los iniciales */
.navbar-default .navbar-toggle:focus .icon-bar{
    background-color: #FFFFFF !important;
}

.main-card-name{
    padding-left: 15px;
}