<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Gama propia: Blandos</title>
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/jmlp.css">
    <link rel="stylesheet" href="/css/bootstrapv2.1.1.css">
    <style type="text/css">
        /*div{
            border: 5px solid black;
        }
        img{
            border: 1px solid red;
        }*/
    </style>
    <link href='http://fonts.googleapis.com/css?family=Abel' rel='stylesheet' type='text/css'>
</head>
<body>
	<div class="container-fluid">
        <div id="logos" class="divLogos">
            <div id="logoEmpresa" class="divLogoEmpresa">
                <a href="/"><img src="/img/logo.png"></a>
            </div>
            <div id="logosMenu" class="divLogosMenu">
                <div class="divLogoBarraPrincipal divLogoGamaPropia">
                    <img src="/img/logoGamaPropiaConTexto.png">
                </div>
                <div class="divLogoBarraPrincipal divLogoPublicitarios">
                    <img src="/img/logoPublicitariosConTexto.png">
                </div>
                <div class="divLogoBarraPrincipal divLogoNosotros">
                    <img src="/img/logoNosotrosConTexto.png">
                </div>
                <div class="divLogoBarraPrincipal divLogoContacto">
                    <img src="/img/logoContactoConTexto.png">
                </div>
                <div class="divLogoBarraPrincipal divLogoCarrito">
                    <img src="/img/carrito.png">
                </div>
            </div>
        </div>
        <div class="row-fluid" style="clear:both">
            <div id="gama-propia-panel" class="fondoGamaPropia" style="float:left">
                <p class="gamaPropia"><b>GAMA PROPIA</b></p>
                <!--<p><b>TOFFEES Y<br/>MASTICABLES</b></p>-->
                <p><b class="seccionActual">BLANDOS</b></p>
                <p><b>DUROS</b></p>
                <p><b>CON PALO</b></p>
                <p><b>GRAGEADOS</b></p>
            </div>

		<!--Panel caramelos tofee-->
            <div id="toffee-panel" class="fondo fondoTurquesa fondoToffees">
                <p><b class="textoBlanco titulo3">Toffees</b></p>
                <div class="imagenPrincipal">
                    <img src="/img/toffeeSurtido.JPG" width="100%">
                </div>
                <div class="imagenSecundaria">
                    <img src="/img/toffeeNata.jpg">
                </div>
                <div class="imagenSecundaria">
                    <img src="/img/toffeeChocolate.jpg">
                </div>
                <div class="imagenSecundaria">
                    <img src="/img/chocoblanco-02.png">
                </div>
            </div>
            <div id="masticable-panel" class="fondo fondoTurquesa fondoMasticables">
                <p><b class="textoBlanco titulo3">Masticables</b></p>
                <div class="imagenPrincipal">
                    <img src="/img/toffeeSurtido.jpg" width="100%" height="100%">
                </div>
                <div class="imagenSecundaria">
                    <img src="/img/toffeeNata.jpg">
                </div>
                <div class="imagenSecundaria">
                    <img src="/img/carameloTuttiFrutti.JPG">
                </div>
                <div class="imagenSecundaria">
                    <img src="/img/saborPiña.JPG">
                </div>
            </div>
        </div>
	</div>

    <footer id="redesSociales" class="footer">
        <div id="facebook" class="divRedesSociales">
            <img src="/img/facebook.png" class="logoSocial">
        </div>
        <div id="twitter" class="divRedesSociales">
            <img src="/img/twitter.png" class="logoSocial">
        </div>
    </footer>

	<script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
	<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.0.8/angular.min.js"></script>
    <style type="text/css">
        .css-form input.ng-invalid.ng-dirty {
            background-color: #FA787E;
        }

        .css-form input.ng-valid.ng-dirty {
            background-color: #78FA89;
        }
    </style>
</body>
</html>