div.modal.fade#modal-eliminar-valoracion(tabindex="-1", role="dialog", aria-labelledby="myModalLabel", aria-hidden="true")
    div.modal-dialog
        div.modal-content
            div.modal-header
                button.close(type="button", data-dismiss="modal", aria-hidden="true") &times;
                h4.modal-title ¿Está seguro?
            div.modal-body
                form
                    div.alert.alert-info Si acepta, la valoración será eliminada de forma definitiva.
            div.modal-footer
                button(type="button", data-dismiss="modal", ng-click="eliminarValoracionDefinitivamente()").btn.btn-primary#confirmarEliminacion Aceptar