// Surtidos: ordenadores, tablets y moviles.
// Otros:    ordenadores, tablets y moviles.

extends ../../../layout
block head
    title Información
    link(rel="stylesheet", href="/css/backgroundImage.css")
block content
    div#container

        div(ng-app="toffeeInfo")
            div(ng-controller="mainController")
                include ../../../navbar

                main.margen-superior-50
                    div.container
                        div.row
                            include ../../../botonesMovil

                            div.col-md-12.col-xs-12
                                div.panel.panel-body
                                    div.main-card-content
                                        div.main-card-description
                                            div.main-card-name
                                                a(href="/gamaPropia")
                                                    span.caramelo Gama propia
                                                b.abel.mayorQue >
                                                a(href="../../toffeesYMasticables")
                                                    span.caramelo Toffees y Masticables
                                                b.abel.mayorQue >
                                                a(href="../toffees")
                                                    span.caramelo Toffees
                            div
                                div
                                    div.col-md-12.col-xs-12
                                        div.panel.panel-body
                                            div.main-card-content(style="word-wrap: break-word;")
                                                div.main-card-name
                                                    a.recipe-title(href="#")
                                                        span.caramelo(ng-bind-template="{{toffee.model}}")
                                    div(ng-show="esSurtido(toffee)")
                                        // Vista para ordenador
                                        div.col-md-12.hidden-sm.hidden-xs
                                            div.panel.panel-body.panel-toffee-info
                                                div.col-md-2
                                                    div(style="float:left; width: 100%; height: 260px").hidden-sm.hidden-xs.text-center
                                                        img(ng-src="/img/imagenesMias/{{toffee.image}}", height="100%", width="100%", style="margin-left: 10px; margin-bottom: 10px")
                                                div.col-md-9.col-md-offset-1
                                                    h1(style="text-align: left;").separador-horizontal.green Detalles
                                                    div.row.blue
                                                        div.col-md-4
                                                            h3 Categoría
                                                        div.col-md-4
                                                            h3 Tipo
                                                        div.col-md-4
                                                            h3 Modelo
                                                    div.row
                                                        div.col-md-4
                                                            h3(ng-bind-template="{{toffee.category}}")
                                                        div.col-md-4
                                                            h3(ng-bind-template="{{toffee.type}}")
                                                        div.col-md-4
                                                            h3(ng-bind-template="{{toffee.model}}")
                                                    div.row.blue
                                                        div.col-md-4
                                                            h3 Pedido mínimo
                                                        div.col-md-4
                                                            h3 Precio
                                                    div.row
                                                        div.col-md-4
                                                            h3(ng-bind-template="{{toffee.minimumOrder}} Kg")
                                                        div.col-md-4
                                                            h3(ng-bind-template="{{toffee.price}} € / Kg")
                                                div.col-md-6.col-md-offset-3.col-sm-6.col-sm-offset-3(style="text-align:center; margin-top:15px", ng-show="usuarioEstaLogueado")
                                                    a.btn.btn-default.btn-eathub-red(href="#", role="button", ng-click="anadirAlCarrito()")#comprar Comprar
                                                        i.fa.fa-shopping-cart(style="margin-left:15px")
                                            div.panel.panel-body
                                                div.toffee-info-description.blue
                                                    h3(style="text-align: justify; margin-top: 0px", ng-bind-template="{{toffee.description}}")

                                        // Vista para tablets y moviles

                                        div.col-sm-12.hidden-lg.hidden-md.col-xs-12
                                            div.panel.panel-body.panel-toffee-info
                                                div.col-sm-4.col-sm-offset-4.col-xs-4.col-xs-offset-4
                                                    div(style="float:left; margin-right: 20px; width: 100%; height: 260px").hidden-md.hidden-lg.text-center
                                                        img(ng-src="/img/imagenesMias/{{toffee.image}}", height="100%", width="100%", style="margin-left: 10px; margin-bottom: 10px")
                                                div.col-sm-12.col-xs-12
                                                    h1(style="text-align: left;").separador-horizontal.green Detalles
                                                    div.row.blue
                                                        div.col-sm-4.col-xs-4
                                                            h3 Categoría
                                                        div.col-sm-4.col-xs-4
                                                            h3 Tipo
                                                        div.col-sm-4.col-xs-4
                                                            h3 Modelo
                                                    div.row
                                                        div.col-sm-4.col-xs-4
                                                            h3(ng-bind-template="{{toffee.category}}")
                                                        div.col-sm-4.col-xs-4
                                                            h3(ng-bind-template="{{toffee.type}}")
                                                        div.col-sm-4.col-xs-4
                                                            h3(ng-bind-template="{{toffee.model}}")
                                                    div.row.blue
                                                        div.col-sm-4.col-xs-4
                                                            h3 Pedido mínimo
                                                        div.col-sm-4.col-xs-4
                                                            h3 Precio
                                                    div.row
                                                        div.col-sm-4.col-xs-4
                                                            h3(ng-bind-template="{{toffee.minimumOrder}} Kg")
                                                        div.col-sm-4.col-xs-4
                                                            h3(ng-bind-template="{{toffee.price}} € / Kg")
                                            div.panel.panel-body
                                                div.toffee-info-description.blue
                                                    h3(style="text-align: justify; margin-top: 0px", ng-bind-template="{{toffee.description}}")
                                    div(ng-show="!esSurtido(toffee)")
                                        // Vista para ordenadores
                                        div.col-md-12.hidden-sm.hidden-xs
                                            div.panel.panel-body.panel-toffee-info
                                                div.col-md-5.text-center
                                                    div(style="float:left; margin-right: 20px; width: 100%; height: 400px")
                                                        img(ng-src="/img/imagenesMias/{{toffee.image}}", height="30%", width="70%", style="margin-left: 10px; margin-bottom: 10px; margin-top:60px")
                                                div.col-md-7
                                                    h1(style="text-align: left;").separador-horizontal.green Detalles
                                                    div.row.blue
                                                        div.col-md-4
                                                            h3 Categoría
                                                        div.col-md-4
                                                            h3 Tipo
                                                        div.col-md-4
                                                            h3 Modelo
                                                    div.row
                                                        div.col-md-4
                                                            h3(ng-bind-template="{{toffee.category}}")
                                                        div.col-md-4
                                                            h3(ng-bind-template="{{toffee.type}}")
                                                        div.col-md-4
                                                            h3(ng-bind-template="{{toffee.model}}")
                                                    div.row.blue
                                                        div.col-md-4
                                                            h3 Pedido mínimo
                                                        div.col-md-4
                                                            h3 Precio
                                                    div.row
                                                        div.col-md-4
                                                            h3(ng-bind-template="{{toffee.minimumOrder}} Kg")
                                                        div.col-md-4
                                                            h3(ng-bind-template="{{toffee.price}} € / Kg")
                                                div.col-md-6.col-md-offset-3.col-sm-6.col-sm-offset-3(style="text-align:center; margin-top:15px", ng-show="usuarioEstaLogueado")
                                                    a.btn.btn-default.btn-eathub-red(href="#", role="button", ng-click="anadirAlCarrito()")#comprar Comprar
                                                        i.fa.fa-shopping-cart(style="margin-left:15px")
                                            div.panel.panel-body
                                                div.toffee-info-description.blue
                                                    h3(style="text-align: justify; margin-top: 0px", ng-bind-template="{{toffee.description}}")


                                        // Vista para moviles
                                        div.col-sm-12.hidden-md.hidden-lg
                                            div.panel.panel-body.panel-toffee-info
                                                div.col-sm-12
                                                    div(style="float:left; margin-right: 20px; margin-bottom: 30px; width: 100%; height: 150px").text-center
                                                        img(ng-src="/img/imagenesMias/{{toffee.image}}", height="100%", width="70%", style="margin-left: 10px; margin-bottom: 30px")
                                                div.col-sm-12
                                                    h1(style="text-align: left;").separador-horizontal.green Detalles
                                                    div.row.blue
                                                        div.col-sm-4.col-xs-4
                                                            h3 Categoría
                                                        div.col-sm-4.col-xs-4
                                                            h3 Tipo
                                                        div.col-sm-4.col-xs-4
                                                            h3 Modelo
                                                    div.row
                                                        div.col-sm-4.col-xs-4
                                                            h3(ng-bind-template="{{toffee.category}}")
                                                        div.col-sm-4.col-xs-4
                                                            h3(ng-bind-template="{{toffee.type}}")
                                                        div.col-sm-4.col-xs-4
                                                            h3(ng-bind-template="{{toffee.model}}")
                                                    div.row.blue
                                                        div.col-sm-4.col-xs-4
                                                            h3 Pedido mínimo
                                                        div.col-sm-4.col-xs-4
                                                            h3 Precio
                                                    div.row
                                                        div.col-sm-4.col-xs-4
                                                            h3(ng-bind-template="{{toffee.minimumOrder}} Kg")
                                                        div.col-sm-4.col-xs-4
                                                            h3(ng-bind-template="{{toffee.price}} € / Kg")
                                            div.panel.panel-body
                                                div.toffee-info-description.blue
                                                    h3(style="text-align: justify; margin-top: 0px", ng-bind-template="{{toffee.description}}")

block scripts
    script(src='/js/angular.js')
    script(src='/js/angular/toffeesYMasticables/toffees/info.js')
    script(src='/js/jquery.js')
    script(src='/js/bootstrap.js')