div(ng-controller="ComprarController").col-md-12.col-md-offset-0.col-md-offset-3.col-sm-6.col-sm-offset-3.col-xs-6.col-xs-offset-3
    div(style="text-align:center; margin-top:15px", ng-show="usuarioEstaLogueado")
        a.btn.btn-default.btn-eathub-red(href="#", role="button", ng-click="anadirAlCarrito()")#comprar Comprar
            i.fa.fa-shopping-cart(style="margin-left:15px")

    include ../modals/comprarProducto
