div.panel.panel-body.borde-lagloria#carousel-example-generic.carousel.slide(data-ride="carousel", style="background-color: white")
    ol.carousel-indicators
        li(data-target="#carousel-example-generic", data-slide-to="0").active
        li(data-target="#carousel-example-generic", ng-show="numero != 0", data-slide-to="{{numero}}", ng-repeat="numero in numeros")

    div.carousel-inner
        div.item.active.galeria
            img(ng-src="/img/redimensionadas/{{producto.resizedImage}}", alt="", style="margin:auto")

        div.item.galeria(ng-repeat="sabor in producto.avaibleSavours")
            // Esta primera etiqueta es la que se usa más veces
            img.sabor(ng-src="/img/redimensionadas/{{sabor.image}}", alt="", style="padding-top: 60px;", ng-show="!sabor.fotoVertical")

            // Esta etiqueta se usa cuando la foto a mostrar tiene una orientación vertical o mucho margen
            // superior y/o inferior
            img.sabor(ng-src="/img/redimensionadas/{{sabor.image}}", alt="", style="padding-top: 0px;", ng-show="sabor.fotoVertical")

    a.left.carousel-control(href="#carousel-example-generic", role="button", data-slide="prev", style="background-color: white")
        i.fa.fa-arrow-left.flecha

    a.right.carousel-control(href="#carousel-example-generic", role="button", data-slide="next", style="background-color: white")
        i.fa.fa-arrow-right.flecha