header
    nav.navbar.navbar-fixed-top.navbar-default.fondoTurquesa(role="navigation")
        div.navbar-inner
            div.container-fluid
                div.navbar-header
                    button.navbar-toggle.collapsed(type="button", data-toggle="collapse", data-target=".navbar-collapse")
                        span.sr-only Cambiar la navegación
                        span.icon-bar
                        span.icon-bar
                        span.icon-bar
                    a(href="/").navbar-brand.white.middle Inicio
                div.collapse.navbar-collapse.fondoTurquesa(role="navigation")
                    ul.nav.navbar-nav(ng-show="loguedUser.role != 'admin'")
                        li
                            a(href="/gamaPropia") Gama propia
                        li
                            a(href="#") Publicitarios
                        li
                            a(href="#") Nosotros
                        li
                            a(href="/contacto") Contacto

                    ul.nav.navbar-nav(ng-show="loguedUser.role == 'admin'", role="menu").dropdown-menu
                        li
                            a(href="/gamaPropia") Gama propia
                        li
                            a(href="#") Publicitarios
                        li
                            a(href="#") Nosotros
                        li
                            a(href="/contacto") Contacto

                    ul.nav.navbar-nav.navbar-right.hidden-xs
                        li
                            a(href="/buscar") Buscar
                                i.fa.fa-search(style="margin-left:15px")
                        li(ng-show="usuarioEstaLogueadoParent == true")
                            a(href="/carrito") Carrito
                                i.fa.fa-shopping-cart(style="margin-left:15px")
                        li(ng-show="usuarioEstaLogueadoParent == true", style="margin-left:15px")
                            a.btn.btn-default.btn-lagloria(href="#", role="button", ng-click="cerrarSesion()")#entrar Cerrar sesión
                        li(ng-show="usuarioEstaLogueadoParent == false", style="margin-left:15px")
                            a.btn.btn-default.btn-lagloria(href="/login", role="button")#entrar Entrar