div.col-xs-12(ng-controller="ValoracionesController")
    div.centrar
        a(style="color: green", ng-click="hacerLike()", ng-show="usuarioEstaLogueado").pointer
            i.fa.fa-thumbs-o-up.fa-lg
        a(style="color: green", ng-show="!usuarioEstaLogueado")
            i.fa.fa-thumbs-o-up.fa-lg
        a(style="margin-left:5px")
            span(style="border-radius: 10px !important;", ng-bind-template="{{producto.likes.length || 0}}").badge
        a(style="color: red; margin-left: 15px", ng-click="hacerDislike()", ng-show="usuarioEstaLogueado").pointer
            i.fa.fa-thumbs-o-down.fa-lg
        a(style="color: red; margin-left: 15px", ng-show="!usuarioEstaLogueado")
            i.fa.fa-thumbs-o-down.fa-lg
        a(style="margin-left:5px")
            span(style="border-radius: 10px !important;", ng-bind-template="{{producto.dislikes.length || 0}}").badge


