div.col-md-12
    div
        a(style="color:green; margin-left: 75px")
            i.fa.fa-thumbs-o-up.fa-lg
        a(href="#")
            span(style="border-radius: 10px !important;").badge 1
        a(style="color:red; margin-left: 20px")
            i.fa.fa-thumbs-o-down.fa-lg
        a(href="#")
            span.badge(style="border-radius: 10px !important;") 0
