div.col-sm-3.col-md-2.sidebar(ng-controller="SidebarController")
    ul.nav.nav-sidebar
        li.header-section
            a(href="#") Novedades
                span.badge(ng-bind-template="{{correosNoLeidos + pedidos + usuariosNuevos}}")
        li.section
            a(href="/admin/emails") Emails
                span.badge(ng-bind-template="{{correosNoLeidos}}")
        li.section
            a(href="/admin/pedidos") Pedidos
                span.badge(ng-bind-template="{{pedidos}}")
        li.section
            a(href="/admin/usuarios") Usuarios
                span.badge(ng-bind-template="{{usuariosNuevos}}")

    ul.nav.nav-sidebar
        li.header-section
            a(href="#") Productos
        li.section
            a(href="/admin/toffeesYMasticables") Toffees y Masticables
        li.section
            a(href="/admin/duros") Duros
        li.section
            a(href="/admin/grageados") Grageados
        li.section
            a(href="/admin/conPalo") Con palo